body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.div-center {
    display: table;
    margin: 0 auto;
}

.activeViewCell {
    background-color: var(--button_secondary_background);
    border-radius: 8px;
}

.ProfileUserWeb {
    display: flex;
    margin: -7px -7px 0 -7px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 32px;
}

.ProfileUserMobail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 32px;
}

.NameUser {
    margin-bottom: 8px; 
    margin-top: 20px
}

.SubheaderUser {
    margin-bottom: 24px;
    color: var(--text_secondary)
}

.btnNote {
    margin-left: 10px;
    margin-right: 10px;
}

.btn_settings {
    margin-bottom: 5px;
}

.snack {
    margin-bottom: -50px;
}

.btnDel {
    margin-top: 15px;
}

.color {
    color: #EC49E7;
}

.critical {
    color: #E64646;
}

.all {
    margin-left: 5px;
}

.podpis {
    display: flex;
    justify-content: center;
    white-space: pre-wrap;
}

.plch_wht {
    color: black;
}

.plch_blck {
    color: white;
}

.search_wht {
    color: black;
}

.search_blck {
    color: white;
}

.more {
    margin-left: -14px;
    margin-right: -18px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.vkuiPopperPortal {
    position: relative;
    z-index: 100;
}